@import "tailwindcss";

.pagination-container {
  display: flex;
  overflow: hidden;
  border-radius: 9999px;
  background-color: #20D6B5;
  width: fit-content;
}

.pagination-button {
  flex: 1;
  padding: 0.5rem 1.5rem;
  text-align: center;
  color: #00003C;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.pagination-button:hover {
  background-color: #1CC3A5;
}

.pagination-divider {
  width: 1px;
  background-color: #00003C;
}

.search-bar {
  border: 1px solid #1DD2AF;
  border-radius: 9999px;
  background-color: #001241;
  color: white;
  padding: 0.5rem 1rem;
  outline: none;
  width: 100%;
}

.search-bar:focus {
  border: 1px solid #1DD2AF;
  outline: none;
}
